module.exports = {

    // What level of logs should be shown?
    // Value: "verbose", "debug", "info", "warn" or "error"
    logLevel: "verbose",

    // The status of the commands that you want to create / update on restart
    // Value: "enabled", "dev", "all"
    commandLoadLevel: "dev",

    // The guild where commands in dev status will be created when enabled
    // Value: A guild id
    commandDevGuild: ""

}
